<!doctype html>
<html>
<head>

<style type="text/css">

table {
  border: 0;
  font-family: arial;
  font-size:10px;
  width: auto;
  table-layout: fixed;
}

tr:nth-child(even) {background-color: #f2f2f2}

#div_main {
     padding: 3px 0px; /*up_down, left_right */
}

</style>
  <title>外資8大指標判讀</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>      
  <script src="./js_external/echart/echarts-all.js"></script>
  <script src="./js_external/bootbox/bootbox.min.js"></script>
  <script type="text/javascript">
    
  
	$(document).ready(function(){
	}); /* document - ready() */


    </script>
</head>
<body>
<div class="row" id="div_main">
  <div class="col-sm-10">
  	
  <table class="table">  
    <thead class="thead-inverse">    
     <tr>        
        <th>No.</th>
        <th>Name</th>
        <th>Link</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>   
     <tr>   
        <td><span class="label label-danger">1</span></td>
        <td>台指期(8:45)</td>
        <td>
            <a target="_blank" href="http://www.taifex.com.tw/chinese/3/7_12_3.asp" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td>
        <td>觀察外資留倉資料</td>
     </tr>   
     <tr>   
        <td><span class="label label-danger">2</span></td>
        <td>台股VIX</td>
        <td>
            <a target="_blank" href="http://info512.taifex.com.tw/Future/VIXQuote_Norl.aspx" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td>
        <td>看昨天收盤與今天開盤的相對關係，VIX關卡為13、15、18</td>
     </tr>   
     <tr>   
        <td><span class="label label-danger">3</span></td>
        <td>台幣對美金(8:30)</td>
        <td>
            <a target="_blank" href="https://www.google.com/finance?q=USDTWD" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td>
        <td>必看，如果台幣狂升，今天不容易跌，不要放空</td>   
     </tr>   
     <tr>   
        <td><span class="label label-danger">4</span></td>
        <td>亞洲股市開盤狀況(日本、韓國 8:00)</td>
        <td>
            <a target="_blank" href="https://www.google.com/finance?q=INDEXNIKKEI%3ANI225&ei=8q72WKDXF5CS0gTRva6gAg" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link">日</span></a>
            <a target="_blank" href="https://www.google.com/finance?q=KOSPI&ei=4a32WMnJM8-I0ATE2oT4CQ" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link">韓</span></a>
        </td>      
        <td>日韓八點開盤，可先反應事件</td>             
     </tr>   
     <tr>   
        <td><span class="label label-danger">5</span></td>
        <td>外資資金匯入資料</td>        
        <td>
            <a target="_blank" href="http://research.fsc.gov.tw/fsd/fncl_od.asp?opendata=FSF021" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td> 
        <td>參考外資是否有匯出</td>   
     </tr>   
     <tr>   
        <td><span class="label label-danger">6</span></td>
        <td>台股put call ratio</td>        
        <td>
            <a target="_blank" href="http://www.taifex.com.tw/chinese/3/PCRatio.asp" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td>  
        <td>觀察外資動向，數值往下看空，往上看多</td>      
     </tr>   
     <tr>   
        <td><span class="label label-danger">7</span></td>
        <td>美國公債殖利率</td>        
        <td>
            <a target="_blank" href="http://stockcharts.com/h-sc/ui?s=$UST10Y" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td>
        <td>值越低代表公債價格上漲，資金流向債市，代表股市有風險</td>
     </tr>   
     <tr>   
        <td><span class="label label-danger">8</span></td>
        <td>美股VIX指數</td>
        <td>
            <a target="_blank" href="https://www.google.com/finance?q=INDEXCBOE:VIX&ei=evL0WJndCISN0gTT5InQCw" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td>           
        <td>VIX關卡為13、15、18</td>     
     </tr>   
     <tr>   
        <td><span class="label label-info">9</span></td>
        <td>景氣燈號 </td>
        <td>
            <a target="_blank" href="http://index.ndc.gov.tw/n/zh_tw" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td>           
        <td>30分以上不要買、17分以下多買</td>     
     </tr>         
     <tr>   
        <td><span class="label label-info">10</span></td>
        <td>Apple股價</td>
        <td>
            <a target="_blank" href="https://www.google.com/finance?cid=22144" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td>           
        <td>觀察Apple判断蘋果概念股</td>     
     </tr>              
     <tr>   
        <td><span class="label label-info">11</span></td>
        <td>Tesla股價</td>
        <td>
            <a target="_blank" href="https://www.google.com/finance?q=Tesla&ei=5vz0WIDWDcfx0ASRwYqYDw" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td>           
        <td>觀察Tesla股價</td>     
     </tr>   
     <tr>   
        <td><span class="label label-info">12</span></td>
        <td>S&P 500</td>
        <td>
            <a target="_blank" href="https://www.google.com/finance?q=INDEXSP%3A.INX&sq=s%26p%20500&sp=1&ei=Rv30WMGcNYqT0ASh0YKAAg" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td>           
        <td>觀察美股</td>     
     </tr>    
     <tr>   
        <td><span class="label label-info">13</span></td>
        <td>大股東持股查詢</td>
        <td>
            <a target="_blank" href="https://www.tdcc.com.tw/smWeb/QryStock.jsp" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td>           
        <td>觀察持股超過千張的變化</td>     
     </tr>     
     <tr>   
        <td><span class="label label-info">14</span></td>
        <td>個股借券資料查詢</td>
        <td>
            <a target="_blank" href="http://www.twse.com.tw/ch/trading/SBL/TWT72U/TWT72U.php" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td>           
        <td>觀察個股借券變化</td>     
     </tr>         
     <tr>   
        <td><span class="label label-info">14</span></td>
        <td>個股融券借券賣出資料</td>
        <td>
            <a target="_blank" href="http://www.twse.com.tw/ch/trading/exchange/TWTASU/TWTASU.php" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td>           
        <td>觀察個股融借券賣出變化</td>     
     </tr>          
     <tr>   
        <td><span class="label label-info">14</span></td>
        <td>外銷訂單統計</td>
        <td>
            <a target="_blank" href="https://www.moea.gov.tw/Mns/dos/bulletin/Bulletin.aspx?kind=5&html=1&menu_id=6724" class="btn btn-default btn-xs" role="button">
            <span class="glyphicon glyphicon-link"></span></a>
        </td>           
        <td>參考新聞稿及全部附表 (PDF)，可以看出台灣什麼產業出口成長，代表該類產業業績好，可以買進該產業龍頭</td>     
     </tr>                      
    </tbody>
  </table>
  </div>
</div>
</body>
</html>