<!doctype html>
<html>
<head>

    <title>Stock Trading Record Editor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>    
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="./js_external/echart/echarts-all.js"></script>
	<script src="./js_external/bootbox/bootbox.min.js"></script>    

<style type="text/css">
</style>

<script type="text/javascript">

var g_reason_obj = <%- JSON.stringify(reasonObj)%>;

$(document).ready(function(){
    console.dir(g_reason_obj);
});

</script>
</head>


<body>
</body>
</html>
