<!doctype html>
<html>
<head>

<style type="text/css">

table {
  border: 0;
  font-family: arial;
  font-size:10px;
  width: 100%;
  table-layout: auto;
  text-align:center;
}

table thead tr{
    display:block;
}

table th,table td{
    width:100px;//fixed width
}


table  tbody{
  display:block;
  height:500px;
  overflow:auto;//set tbody to auto
}

tr:nth-child(even) {background-color: #f2f2f2}

#div_monitor_select{
    padding: 20px;  
}

#div_monitor_select, #div_stock_list{
     padding: 10px 0px; /*up_down, left_right */
}

#div_stock_list {
     padding: 3px 0px; /*up_down, left_right */
}

</style>
  <title> <%=title%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>      
  <script src="./js_external/echart/echarts-all.js"></script>
  <script src="./js_external/bootbox/bootbox.min.js"></script>
  <script type="text/javascript">
    

var g_stock_all_obj = <%- JSON.stringify(srtpAllObj) %>; /* realtime stock price */
var g_monitor_list_all = <%- JSON.stringify(result) %>;  /* monitor stock info object */ 
var g_stock_info_list = g_monitor_list_all[0].monitorList;        
var g_monitor_list_all_lookup_dict = {};

function btn_remove_monitor(item)
{
    var stockId = item.value;
    console.log("Remove Stock:" + stockId);
    var URLs = "remove_stock_monitor";
    //debugger;
    bootbox.confirm("Remove out monitor list", function(result) {            	
        if (result == true){                	
            var compose = {};
            compose.stockId = stockId;
            compose.name = $( "#stock_monitor_sel option:selected").text();
    		$.ajax({
		           url: URLs,
		           data: JSON.stringify(compose),
		           type:"POST",
		           dataType:'json',
		           contentType: "application/json; charset=utf-8",

		           success: function(res){
                    //debugger;
                    /* Reinit g_monitor_list_all and table data. */
                    let monitor_name = $( "#stock_monitor_sel option:selected").text();   
                    g_monitor_list_all = res;
                    for(let monitor of g_monitor_list_all)
                    {              
                       g_monitor_list_all_lookup_dict[monitor.name] = monitor;  
                    }   
                    let monitor = g_monitor_list_all_lookup_dict[monitor_name];
                    showStockDailyInfo(monitor.monitorList);                    
		                bootbox.alert("Success!");                    		                                                        
		           },
		           error:function(xhr, ajaxOptions, thrownError){                         
		                bootbox.alert("Fail!" + xhr.status + ' ' + thrownError);                
		           }
		     }); /* ajax */
		} /* if */    
	}); /* bootbox */   
}/* btn_remove_monitor */

function _f_showStockDailyInfo_v20(stockObj)
{            
   var stockId = stockObj.stockId;                  

   /*********************************************/
   /* Special condition */
   debugger;
   if ((parseFloat(stockObj.result_TV.RTV/stockObj.result_TV.RTVMA_03)*10) < 13)  /* 1.3 times is teacher's experience */
   {
      console.log("Skip:" + stockObj.stockInfo.stockName);     
      return;
   }

   if ((Math.round(stockObj.result_TV.RTV)) < 100)
   {
      console.log("Skip:" + stockObj.stockInfo.stockName);
      console.log("Skip TV:" + Math.round(stockObj.stockDailyInfo.TV/1000));   
      return;
   }
   
   /*********************************************/
   //debugger;
   var dataDateTempList = stockObj.result_StockInfo.date.split('/');
   var dataDateStr =  dataDateTempList[1] + '-' + dataDateTempList[2]; /* MM/DD */

   var web_link = 'https://stock.cnyes.com/market/TSE:' + stockId + ':STOCK';
          
   var type = (stockObj.result_StockInfo.GSP < 0)?'<font color=\"green\">跌</font>':'<font color=\"red\">漲</font>';
          
   var GS = (stockObj.result_StockInfo.GS < 0) ?
            '<font color=\"green\">' + stockObj.result_StockInfo.GS + '</font>' :
            '<font color=\"red\">' + stockObj.result_StockInfo.GS + '</font>';

   var GSP = (stockObj.result_StockInfo.GSP < 0) ?
            '<font color=\"green\">' + stockObj.result_StockInfo.GSP + '%</font>' :
            '<font color=\"red\">' + stockObj.result_StockInfo.GSP + '%</font>';

   var remove_btn_html = '<button type="button" class="btn btn-default btn-xs" id="stock_add_btn_' + stockId + '" value="' +
                         stockId + '" onclick="btn_remove_monitor(this)"><span class="glyphicon glyphicon-trash"></span></button>';

   var cp_html = (stockObj.result_StockInfo.GSP < 0) ?
                 '<span class="label label-success">' + stockObj.result_StockInfo.CP + '</span>':
                 '<span class="label label-danger">' + stockObj.result_StockInfo.CP + '</span>';

   var today_cp_html = '<span class="label label-default">' + g_stock_all_obj[stockId].currentPrice + '</span>';

    try {
          var currentPrice = g_stock_all_obj[stockId].currentPrice;
          var today_cp_html = '<span class="label label-default">' + currentPrice + '</span>';
                                
          var price_delta = (parseFloat(g_stock_all_obj[stockId].currentPrice) - parseFloat(stockObj.result_StockInfo.CP));
          var price_delta_p_str = (((price_delta/parseFloat(stockObj.result_StockInfo.CP))*100).toFixed(1)).toString();
          var price_delta_str =  price_delta.toFixed(2).toString() + '<p> (' + price_delta_p_str + '%)';

          var price_delta_html = (price_delta >= 0)?
                                 '<font color=\"red\"><b>' + price_delta_str + '</b></font>':
                                 '<font color=\"green\"><b>' + price_delta_str + '</b></font>';                     
    } catch(err){
          var currentPrice = 'Error';
          var today_cp_html = '<span class="label label-default">' + currentPrice + '</span>';                                              
          var price_delta_html = '<font color=\"red\"><b>' + 'Error' + '</b></font>';                                                           
    }
    
    TV_times = (stockObj.result_TV.RTV/stockObj.result_TV.RTVMA_05).toFixed(1);
    temp_html = '<tr>' + 
                '<td><a target=\"_blank\" href=\"' + web_link + '\">' + stockId + '</a></td>' + 
                '<td>' + stockObj.stockInfo.stockName + '</td>' +                           
                       '<td>' + today_cp_html + '</td>' + 
                       '<td>' + price_delta_html + '</td>' + 
                       '<td>' + cp_html + '</td>' + 
                       '<td>' + GS + '</td>' + 
                       '<td>' + GSP + '</td>' + 
                       '<td>' + type + '</td>' +                                                        
                       '<td>' + stockObj.result_TV.RTVMA_60 + '</td>' + 
                       /*
                       '<td>' + stockObj.stockDailyInfo.MA.MA20 + '</td>' + 
                       '<td>' + stockObj.stockDailyInfo.MA.MA10 + '</td>' + 
                       '<td>' + stockObj.stockDailyInfo.MA.MA5 + '</td>' + 
                       */
                       '<td><span class="badge">' + TV_times + '</span></td>' +  
                       '<td>' + Math.round(stockObj.result_TV.RTV) + '</td>' + 
                       '<td>' + Math.round(stockObj.result_TV.RTVMA_05) + '</td>' +                             

                       /*  
                       '<td>' + stockObj.stockInfo.YR + '</td>' + 
                       '<td>' + stockObj.stockInfo.PRE + '</td>' + 
                       '<td>' + stockObj.stockInfo.PBR + '</td>' + 
                       */
                       '<td>' + dataDateStr + '</td>' + 
                       '<td>' + remove_btn_html + '</td>' + 
                       '</tr>';              
           $('#stock_info_tbl_body').append(temp_html);

           //idx ++;  
         
}
  
function showStockDailyInfo(stock_info_list)
{   
    var temp_html = '';            
    
    //var idx = 0;  
     $('#stock_info_tbl_body').empty();
    for (var stock of stock_info_list)
    {
       stock = JSON.parse(stock);         

       if ((stock.ver != undefined) && (stock.ver == 'v2.0'))
       {
          /* For format v2.0 */
          debugger;   
          _f_showStockDailyInfo_v20(stock);
       } else {
           
           //console.dir(stock);
           var stockObj = stock.stockObj;
           var stockId = stock.stockId;                          

           /*********************************************/
           /* Special condition */
           //debugger;
           if ((parseFloat(stockObj.stockDailyInfo.TV_times.TV_times)*10) < 13)
           {
              console.log("Skip:" + stockObj.stockInfo.stockName);
              console.log("Skip TV times:" + stockObj.stockDailyInfo.TV_times.TV_times);
              // Skip
              continue;
           }

           if ((Math.round(stockObj.stockDailyInfo.TV/1000)) < 100)
           {
              console.log("Skip:" + stockObj.stockInfo.stockName);
              console.log("Skip TV:" + Math.round(stockObj.stockDailyInfo.TV/1000));
              // Skip
              continue;
           }
           /*********************************************/
           //debugger;

           var dataDateTempList = stockObj.stockDailyInfo.date.split('/');
           var dataDateStr =  dataDateTempList[1] + '-' + dataDateTempList[2]; /* MM/DD */

           var web_link = 'https://stock.cnyes.com/market/TSE:' + stockId + ':STOCK';
          
           var type = (stockObj.stockDailyInfo.type == 'P->N')?'<font color=\"green\">跌</font>':'<font color=\"red\">漲</font>';
          
           var GS = (stockObj.stockDailyInfo.GS < 0) ?
                    '<font color=\"green\">' + stockObj.stockDailyInfo.GS + '</font>' :
                    '<font color=\"red\">' + stockObj.stockDailyInfo.GS + '</font>';

           var GSP = (stockObj.stockDailyInfo.GSP < 0) ?
                    '<font color=\"green\">' + stockObj.stockDailyInfo.GSP + '%</font>' :
                    '<font color=\"red\">' + stockObj.stockDailyInfo.GSP + '%</font>';

           var remove_btn_html = '<button type="button" class="btn btn-default btn-xs" id="stock_add_btn_' + stockId + '" value="' +
                             stockId + '" onclick="btn_remove_monitor(this)"><span class="glyphicon glyphicon-trash"></span></button>';

           var cp_html = (stockObj.stockDailyInfo.GSP < 0) ?
                         '<span class="label label-success">' + stockObj.stockDailyInfo.CP + '</span>':
                         '<span class="label label-danger">' + stockObj.stockDailyInfo.CP + '</span>';

           var today_cp_html = '<span class="label label-default">' + g_stock_all_obj[stockId].currentPrice + '</span>';

                   try {
                       var currentPrice = g_stock_all_obj[stockId].currentPrice;                        
                       var today_cp_html = '<span class="label label-default">' + currentPrice + '</span>';                              

                        var price_delta = (parseFloat(g_stock_all_obj[stockId].currentPrice) - parseFloat(stockObj.stockDailyInfo.CP));
                        var price_delta_p_str = (((price_delta/parseFloat(stockObj.stockDailyInfo.CP))*100).toFixed(1)).toString();
                        var price_delta_str =  price_delta.toFixed(2).toString() + '<p> (' + price_delta_p_str + '%)';

                        var price_delta_html = (price_delta >= 0)?
                                              '<font color=\"red\"><b>' + price_delta_str + '</b></font>':
                                              '<font color=\"green\"><b>' + price_delta_str + '</b></font>';                     
                   } catch(err){
                        var currentPrice = 'Error';
                        var today_cp_html = '<span class="label label-default">' + currentPrice + '</span>';                                              
                        var price_delta_html = '<font color=\"red\"><b>' + 'Error' + '</b></font>';                                                           
                   }

           temp_html = '<tr>' + 
                       '<td><a target=\"_blank\" href=\"' + web_link + '\">' + stockId + '</a></td>' + 
                       '<td>' + stockObj.stockInfo.stockName + '</td>' +                           
                       '<td>' + today_cp_html + '</td>' + 
                       '<td>' + price_delta_html + '</td>' + 
                       '<td>' + cp_html + '</td>' + 
                       '<td>' + GS + '</td>' + 
                       '<td>' + GSP + '</td>' + 
                       '<td>' + type + '</td>' +                                                        
                       '<td>' + stockObj.stockDailyInfo.MA.MA60 + '</td>' + 
                       /*
                       '<td>' + stockObj.stockDailyInfo.MA.MA20 + '</td>' + 
                       '<td>' + stockObj.stockDailyInfo.MA.MA10 + '</td>' + 
                       '<td>' + stockObj.stockDailyInfo.MA.MA5 + '</td>' + 
                       */
                       '<td><span class="badge">' + stockObj.stockDailyInfo.TV_times.TV_times + '</span></td>' +  
                       '<td>' + Math.round(stockObj.stockDailyInfo.TV/1000) + '</td>' + 
                       '<td>' + Math.round(stockObj.stockDailyInfo.TV_times.TVMA_05/1000) + '</td>' +                            

                       /*  
                       '<td>' + stockObj.stockInfo.YR + '</td>' + 
                       '<td>' + stockObj.stockInfo.PRE + '</td>' + 
                       '<td>' + stockObj.stockInfo.PBR + '</td>' + 
                       */
                       '<td>' + dataDateStr + '</td>' + 
                       '<td>' + remove_btn_html + '</td>' + 
                       '</tr>';              
           $('#stock_info_tbl_body').append(temp_html);

           //idx ++;
       } /* if-else */    
    } /* for */    		      	
} /* showStockDailyInfo */

	$(document).ready(function(){        
        
        initHtmlContent(g_monitor_list_all);
        showStockDailyInfo(g_stock_info_list);           
          		    
        function genMonitorSelectInfo(monitor_list_all)
        {  
            var html = '';            
            for(monitor of monitor_list_all)
            {       
                g_monitor_list_all_lookup_dict[monitor.name] = monitor;         
                html += '<option>' + monitor.name + '</option>';                
            } /* for */
            $('#stock_monitor_sel').append(html);            
        }

        function initHtmlContent(monitor_list_all)
        {               
           for(monitor of monitor_list_all)
           {
              g_monitor_list_all_lookup_dict[monitor.name] = monitor;  
           }
           genMonitorSelectInfo(monitor_list_all);
        } 

        $( "#stock_monitor_sel" ).change(function() {
          let monitor_name = $( "#stock_monitor_sel option:selected").text();         
          let monitor = g_monitor_list_all_lookup_dict[monitor_name];
          //debugger;
          showStockDailyInfo(monitor.monitorList);          
        });        
	}); /* document - ready() */


    </script>
</head>
<body>

<div class="row" id='div_monitor_select'>
  <div class="col-sm-3">
    <div class="form-group">      
      <select class="form-control" id="stock_monitor_sel">
        <!-- generate by genMonitorSelectInfo -->
      </select>
    </div>
  </div>
</div>

<div class="row" id="div_stock_list">
  <div class="col-sm-10">
  <table class="table">  
    <thead class="thead-inverse">    
     <tr>
        <th>ID</th>
        <th>Name</th>
        <th>(今日)收盤價</th>         
        <th>Delta</th>    
        <th>(當時)收盤價</th>         
        <th>(當時)漲跌</th>
        <th>(當時)漲跌幅</th>
        <th>Type</th>              
        <th>MA60</th>
<!--    <th>MA20</th> -->
<!--    <th>MA10</th> -->
<!--    <th>MA5</th> -->
        <th>成交量比</th>
        <th>成交量</th>
        <th>成交量MA5</th>  
        <th>加入時間</th>
<!--              
        <th>殖利率</th>
        <th>本益比</th>
        <th>股價淨值比</th>       
-->        
        <th>Action</th>
      </tr>
    </thead>
    <tbody id='stock_info_tbl_body'>
      <!-- generate by showStockDailyInfo -->
    </tbody>
  </table>
  </div>
</div>
</body>
</html>