<!doctype html>
<html>
<head>

<style type="text/css">

table {
  border: 0;
  font-family: arial;
  font-size:10px;
  width: 100%;
  table-layout: auto;
  text-align:center;
}

th {
    height: 8px;
}

table thead tr th{
  text-align:center;
}

tr:nth-child(even) {background-color: #f2f2f2}

#div_monitor_select{
    padding: 20px;  
}

#div_monitor_select, #div_stock_list{
     padding: 10px 0px; /*up_down, left_right */
}

#div_stock_list {
     padding: 3px 0px; /*up_down, left_right */
}

</style>
  <title> <%=title%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>   
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>      
  <script src="./js_external/echart/echarts-all.js"></script>
  <script src="./js_external/bootbox/bootbox.min.js"></script>
  <script type="text/javascript" src="./js/kstock.chart.js"></script>  
-->   
 
<script type="text/javascript">

var g_stock_all_rtp_obj = <%- JSON.stringify(srtpAllObj) %>; /* realtime stock price */
var g_monitor_list_all = <%- JSON.stringify(monitor_list_all) %>;  /* monitor stock info object */ 
var g_stock_info_list = g_monitor_list_all[0].monitorList;   /* Set first element to be init content */     
var g_monitor_list_all_lookup_dict = {};
var g_stock_info_id_dict = {}; /* All stock object, key is stockid */

function _f_isDuringOpeningtime()
{
    let today = moment().format('YYYY-MM-DD');
    let sart_time = today +' 09:00';
    let end_time = today +' 13:35';
    return moment().isBetween(sart_time, end_time);
}

function btn_pricechart_info(item)
{  
  var stockId = item.value;
  gCurrentPriceChartStockId = stockId;
	let URL = '/get_stock_price';
  $('#dispersion_chart').empty();	  
  let stockName = g_stock_info_id_dict[stockId].stockInfo.stockName;  
  let market = g_stock_info_id_dict[stockId].stockInfo.market;
  if (market == undefined){
    market = '';
  }
  let no = '#' + g_stock_info_id_dict[stockId].no;
  let title = no + ' (' + market + ':' + stockId + ')' + ' ' + stockName ;

  //$('#price-modal-title').text(title);
  var web_link = 'https://stock.cnyes.com/market/TSE:' + stockId + ':STOCK';
  let stock_url = '<a target=\"_blank\" href=\"' + web_link + '\">' + title + '</a>';  
  $('#price-modal-title').html('');
  $('#price-modal-title').append(stock_url);

  try {      
      $.get(URL, { stockId: stockId}, function(data){	       
          let result = JSON.parse(data);
          let stock_price_obj = {};          
          stock_price_obj.MA1_list = result.MA1_list;
          stock_price_obj.MA60_list = result.MA60_list;
          stock_price_obj.tv_list = result.tv_list;
          let stockRtpObj = result.stockRtpObj;
          let price_info_html = '<h4>價格:' + stockRtpObj.currentPrice + 
                                '  漲跌:' + stockRtpObj.GS + ' (' + stockRtpObj.GSP +'%)</h4>';
          if(String(stockRtpObj.GS).indexOf('-') > -1)
          {
              price_info_html = '<font color=\"green\">' + price_info_html + '</font>';
          }else{
              price_info_html = '<font color=\"red\">' + price_info_html + '</font>';
          }                                
          $('#price-modal-title').append(price_info_html); 

          try
          {            
              /* Add to head */
              stock_price_obj.MA1_list.unshift(stockRtpObj.currentPrice);           
          }catch(err){}
 
          show_stock_price_value_chart(stock_price_obj, 'ar_price_chart');  
          $('#PRICE_Modal').modal('show');           
    });	
  }catch (err){
    alert('媽啦~Error!' + err);
  }	    
} /* btn_dispersion_info */

function btn_dispersion_info(item)
{
  var stockId = item.value;
	let URL = '/lookup_stock_dispersion';
  $('#dispersion_chart').empty();
  debugger;
  let stockName = g_stock_info_id_dict[stockId].stockInfo.stockName;
  let title = stockName + ' (' + stockId + ')';
  $('#dispersion-modal-title').text(title);

  try { 
      $('#monitor_Modal').modal('show');  
      $.get(URL, { stockId: stockId}, function(data){	       
          stock_dispersion = JSON.parse(data);
          show_dispersion_chart(stock_dispersion, 'dispersion_chart');           
    });	
  }catch (err){
    alert('Error!');
  }	    
}

function btn_remove_monitor(item)
{
    var stockId = item.value;
    console.log("Remove Stock:" + stockId);
    var URLs = "remove_stock_monitor";
    
    bootbox.confirm("Remove out monitor list", function(result) {            	
        if (result == true){                	
            var compose = {};
            compose.stockId = stockId;
            compose.name = $( "#stock_monitor_sel option:selected").text();
    		$.ajax({
		           url: URLs,
		           data: JSON.stringify(compose),
		           type:"POST",
		           dataType:'json',
		           contentType: "application/json; charset=utf-8",

		           success: function(res){
                    
                    /* Reinit g_monitor_list_all and table data. */
                    let monitor_name = $( "#stock_monitor_sel option:selected").text();   
                    g_monitor_list_all = res;
                    for(let monitor of g_monitor_list_all)
                    {              
                       g_monitor_list_all_lookup_dict[monitor.name] = monitor;  
                    }   
                    let monitor = g_monitor_list_all_lookup_dict[monitor_name];
                    showStockDailyInfo(monitor.monitorList);                    
		                bootbox.alert("Success!");                    		                                                        
		           },
		           error:function(xhr, ajaxOptions, thrownError){                         
		                bootbox.alert("Fail!" + xhr.status + ' ' + thrownError);                
		           }
		     }); /* ajax */
		} /* if */    
	}); /* bootbox */   
}/* btn_remove_monitor */

function _f_showStockDailyInfo(stockObj, no)
{            
   var stockId = stockObj.stockId;                  
   
   /*********************************************/
   /* Special condition */
   
   if ((parseFloat(stockObj.result_TV.RTV/stockObj.result_TV.RTVMA_03)*10) < 13)  /* 1.3 times is teacher's experience */
   {
      console.log("Skip:" + stockObj.stockInfo.stockName);     
      //return;
   }

   if ((Math.round(stockObj.result_TV.RTV)) < 100)
   {
      console.log("Skip:" + stockObj.stockInfo.stockName);
      console.log("Skip TV:" + Math.round(stockObj.stockDailyInfo.TV/1000));   
      //return;
   }
   
   /*********************************************/
   
   var dataDateTempList = stockObj.result_StockInfo.date.split('/');
   var dataDateStr =  dataDateTempList[1] + '-' + dataDateTempList[2]; /* MM/DD */

   var web_link = 'https://stock.cnyes.com/market/TSE:' + stockId + ':STOCK';
          
   var type = (stockObj.result_StockInfo.GSP < 0)?'<font color=\"green\">跌</font>':'<font color=\"red\">漲</font>';
          
   var GS = (stockObj.result_StockInfo.GS < 0) ?
            '<font color=\"green\">' + stockObj.result_StockInfo.GS + '</font>' :
            '<font color=\"red\">' + stockObj.result_StockInfo.GS + '</font>';

   var GSP = (stockObj.result_StockInfo.GSP < 0) ?
            '<font color=\"green\">' + stockObj.result_StockInfo.GSP + '%</font>' :
            '<font color=\"red\">' + stockObj.result_StockInfo.GSP + '%</font>';

   var remove_btn_html = '<button type="button" class="btn btn-default btn-xs" id="stock_rm_btn_' + stockId + '" value="' +
                         stockId + '" onclick="btn_remove_monitor(this)"><span class="glyphicon glyphicon-trash"></span></button>';

   var dispersion_info_btn_html = '<button type="button" class="btn btn-default btn-xs" id="stock_dsps_btn_' + stockId + '" value="' +
                         stockId + '" onclick="btn_dispersion_info(this)"><span class="glyphicon glyphicon-info-sign"></span></button>';

   var price_chart_info_btn_html = '<button type="button" class="btn btn-default btn-xs" id="stock_price_btn_' + 
                                   stockId + '" value="' + stockId + 
                                   '" onclick="btn_pricechart_info(this)"><span class="glyphicon glyphicon-flash"></span></button>';

   var fin_report_btn_html = '<a href="https://statementdog.com/analysis/tpe/' + stockId + '" class="btn btn-default btn-xs" role="button" target="_blank">' +
                             '<span class="glyphicon glyphicon glyphicon-piggy-bank"></span></a>';

   var cp_html = (stockObj.result_StockInfo.GSP < 0) ?
                 '<span class="label label-success">' + stockObj.result_StockInfo.CP + '</span>':
                 '<span class="label label-danger">' + stockObj.result_StockInfo.CP + '</span>';

    try {
          var currentPrice = g_stock_all_rtp_obj[stockId].currentPrice;
          var today_cp_html = '<span class="label label-default" style="display:block">' + 
                               currentPrice + '<br>' + '('  + g_stock_all_rtp_obj[stockId].GSP +'%) '+ 
                               g_stock_all_rtp_obj[stockId].GS + '</span>';  
                                
          var price_delta = (parseFloat(g_stock_all_rtp_obj[stockId].currentPrice) - parseFloat(stockObj.result_StockInfo.CP));
          var price_delta_p_str = (((price_delta/parseFloat(stockObj.result_StockInfo.CP))*100).toFixed(1)).toString();
          var price_delta_str =  price_delta.toFixed(2).toString() + '<p> (' + price_delta_p_str + '%)';

          var price_delta_html = (price_delta >= 0)?
                                 '<font color=\"red\"><b>' + price_delta_str + '</b></font>':
                                 '<font color=\"green\"><b>' + price_delta_str + '</b></font>';                     
    } catch(err){
          var currentPrice = 'Error';
          var today_cp_html = '<span class="label label-default">' + currentPrice + '</span>';                                              
          var price_delta_html = '<font color=\"red\"><b>' + 'Error' + '</b></font>';                                                           
    }

    if (stockObj.stockInfo.market == undefined)
    {
      stockObj.stockInfo.market = 'N/A';
    }

    TV_times = (stockObj.result_TV.RTV/stockObj.result_TV.RTVMA_05).toFixed(1);
    temp_html = '<tr>' + 
                '<td>#' + no + '</td>' + 
                '<td><a target=\"_blank\" href=\"' + web_link + '\">' + stockId + '</a></td>' + 
                '<td>' + stockObj.stockInfo.stockName + '</td>' +                           
                       '<td>' + today_cp_html + '</td>' + 
                       '<td>' + price_delta_html + '</td>' + 
                       '<td>' + cp_html + '</td>' + 
                       '<td>' + GS + '</td>' + 
                       '<td>' + GSP + '</td>' + 
                       /* 
                       '<td>' + type + '</td>' +                                                        
                       */
                       '<td>' + parseFloat(stockObj.result_MA.MA60).toFixed(2) + '</td>' + 
                       /*
                       '<td>' + stockObj.stockDailyInfo.MA.MA20 + '</td>' + 
                       '<td>' + stockObj.stockDailyInfo.MA.MA10 + '</td>' + 
                       '<td>' + stockObj.stockDailyInfo.MA.MA5 + '</td>' + 
                       */
                       /*
                       '<td><span class="badge" style="font-size : 8px;">' + TV_times + '</span></td>' +  
                       '<td>' + Math.round(stockObj.result_TV.RTV) + '</td>' + 
                       '<td>' + Math.round(stockObj.result_TV.RTVMA_05) + '</td>' +                             
                       /*
                       /*  
                       '<td>' + stockObj.stockInfo.YR + '</td>' + 
                       '<td>' + stockObj.stockInfo.PRE + '</td>' + 
                       '<td>' + stockObj.stockInfo.PBR + '</td>' + 
                       */
                       '<td>' + dataDateStr + '</td>' +   
                       '<td>' + stockObj.stockInfo.market + '</td>' +   
                       '<td>' + fin_report_btn_html + '</td>' +                     
                       '<td>' + remove_btn_html + dispersion_info_btn_html + price_chart_info_btn_html + '</td>' + 
                       '</tr>';       
                              
           $('#stock_info_tbl_body').append(temp_html);

           //idx ++;  
         
}
    
function showStockDailyInfo(stock_info_list)
{   
    var temp_html = '';            
    
    //var idx = 0;  
     $('#stock_info_tbl_body').empty();    
    for(let i=0 ; i<stock_info_list.length ; i++)
    {       
       let stock = JSON.parse(stock_info_list[i]);         
       var stockId = stock.stockId;
       g_stock_info_id_dict[stockId] = stock;
       g_stock_info_id_dict[stockId].no = i; 

       if (stock == undefined){
         /* Skip */
         continue;
       }

       
       gStockIdList[i] = stockId;              
       gStockIdIndexDict[stockId] = i;

       _f_showStockDailyInfo(stock, i);                 

    } /* for */    		      	
} /* showStockDailyInfo */

/* For previous and next botton (price chart) */
  var gStockIdList = []; 
  var gStockIdIndexDict = {}; 
  var gCurrentPriceChartStockId = '';

	$(document).ready(function(){        
        
        initHtmlContent(g_monitor_list_all);                

        $("#btn_previous_stock_price_chart").click(function() {  
            debugger;        
            console.log("btn_previous_stock_price_chart+++");
            let currentStockId = gCurrentPriceChartStockId;             
            let index = gStockIdIndexDict[currentStockId];                      
            let pindex = ((index-1) < 0)?(gStockIdList.length-1):(index-1);                        
            let pstockId = gStockIdList[pindex];
            let item = {};
            item.value = pstockId;
            btn_pricechart_info(item);
        });

        $("#btn_next_stock_price_chart").click(function() {
            console.log("btn_next_stock_price_chart+++");
            let currentStockId = gCurrentPriceChartStockId;             
            let index = gStockIdIndexDict[currentStockId];                      
            let nindex = ((index+1) >= gStockIdList.length)?0:(index+1);                        
            let nstockId = gStockIdList[nindex];
            let item = {};
            item.value = nstockId;
            btn_pricechart_info(item);            
        });

        function genMonitorSelectInfo(monitor_list_all)
        {  
            var html = '';            
            monitor_list_all.sort(function(a, b) {
               //return a.name < b.name;
               return a.name.localeCompare(b.name);
            });
                       
            for(let i=0 ; i<monitor_list_all.length ; i++)
            {       
                let monitor = monitor_list_all[i];
                g_monitor_list_all_lookup_dict[monitor.name] = monitor;         
                html += '<option value="' + i +'">' + monitor.name + '</option>';                                
            } /* for */
            $('#stock_monitor_sel').append(html);                       
        }

        function initHtmlContent(monitor_list_all)
        {               
           for(monitor of monitor_list_all)
           {
              g_monitor_list_all_lookup_dict[monitor.name] = monitor;  
           }
           debugger;
           genMonitorSelectInfo(monitor_list_all);
           showStockDailyInfo(monitor_list_all[0].monitorList); 
        } 

        $( "#stock_monitor_sel" ).change(function() {
          let monitor_name = $( "#stock_monitor_sel option:selected").text();         
          let monitor = g_monitor_list_all_lookup_dict[monitor_name];
          
          showStockDailyInfo(monitor.monitorList);          
        });        
	}); /* document - ready() */


    </script>
</head>
<body>

<div class="row" id='div_monitor_select'>
  <div class="col-sm-3">
    <div class="form-group">      
      <select class="form-control" id="stock_monitor_sel">
        <!-- generate by genMonitorSelectInfo -->
      </select>
    </div>
  </div>
</div>

<div class="row" id="div_stock_list">
  <div class="col-sm-10">
  <table class="table">  
    <thead class="thead-inverse">    
     <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>(今日)收盤價</th>         
        <th>Delta</th>    
        <th>(當時)收盤價</th>         
        <th>(當時)漲跌</th>
        <th>(當時)漲跌幅</th>
<!--    <th>Type</th> -->             
        <th>MA60</th>
<!--    <th>MA20</th> -->
<!--    <th>MA10</th> -->
<!--    <th>MA5</th> -->
<!--    <th>成交量比</th> -->
<!--    <th>成交量</th> -->
<!--    <th>成交量MA5</th>  --> 
        <th>加入時間</th>
<!--              
        <th>殖利率</th>
        <th>本益比</th>
        <th>股價淨值比</th>       
-->     
        <th>市場</th>   
        <th>財報</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id='stock_info_tbl_body'>
      <!-- generate by showStockDailyInfo -->
    </tbody>
  </table>
  </div>
</div>

<!-- Modal -->
<div id="monitor_Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="dispersion-modal-title">Modal Header</h4>
      </div>
      <div class="modal-body" >
        <div id="dispersion_chart" style="width: 580px; height: 400px;"></div>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- PRICE_Modal -->
<div id="PRICE_Modal" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="price-modal-title"></h4>
      </div>
      <div class="modal-body" >
        <div class="btn-group"  style="margin:0 auto;">
          <button type="button" class="btn btn-default" id="btn_previous_stock_price_chart"><span class="glyphicon glyphicon-arrow-left"></span></button>
          <button type="button" class="btn btn-default" id="btn_next_stock_price_chart"><span class="glyphicon glyphicon-arrow-right"></span></button> 
        </div>        
        <div id="ar_price_chart" style="width: 580px; height: 400px;"></div>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</body>
</html>